In [ ]:
print ("TALLER 22 FEB 2023. FUNCIONAMIENTO FOR")

1. Crear un bucle que cuente todos los números pares hasta 
el 100 ciclo for

In [ ]:
for numpar in range(0,102,2):
  print (numpar)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2. Haz una tabla de multiplicar utilizando el ciclo for.

In [ ]:
print("**TABLA DE MULTIPLICAR**")
factor1 = int(input("Digite un numero entero: ")) 
#factor2 = int(0)
for factor2 in range(0,11):
  producto = factor1 * factor2
  print((factor1),"*",(factor2), "=",producto)

**TABLA DE MULTIPLICAR**
Digite un numero entero: 12
12 * 0 = 0
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

3. Escribir un programa que pregunte al usuario su edad y 
muestre por pantalla todos los años que ha cumplido 
(desde 1 hasta su edad). ciclo for

In [ ]:
edad = int(input("Digite su edad: "))
for cumplidos in range(1,(edad+1)):
  print("**\n LISTA AÑOS CUMPLIDOS **")
  print((cumplidos))

Digite su edad: 15
**
 LISTA AÑOS CUMPLIDOS **
1
**
 LISTA AÑOS CUMPLIDOS **
2
**
 LISTA AÑOS CUMPLIDOS **
3
**
 LISTA AÑOS CUMPLIDOS **
4
**
 LISTA AÑOS CUMPLIDOS **
5
**
 LISTA AÑOS CUMPLIDOS **
6
**
 LISTA AÑOS CUMPLIDOS **
7
**
 LISTA AÑOS CUMPLIDOS **
8
**
 LISTA AÑOS CUMPLIDOS **
9
**
 LISTA AÑOS CUMPLIDOS **
10
**
 LISTA AÑOS CUMPLIDOS **
11
**
 LISTA AÑOS CUMPLIDOS **
12
**
 LISTA AÑOS CUMPLIDOS **
13
**
 LISTA AÑOS CUMPLIDOS **
14
**
 LISTA AÑOS CUMPLIDOS **
15

4. Escribir un programa que pida al usuario un número entero 
positivo y muestre por pantalla todos los números 
impares desde 1 hasta ese número separados por comas.

In [ ]:
numero = int(input("Digite un numero entero positivo: "))
for impar in range(1,(numero+1),2):
  print("\n NUMEROS IMPARES HASTA: ", (numero))
  print((impar), ",")

Digite un numero entero positivo: 17

 NUMEROS IMPARES HASTA:  17
1 ,

 NUMEROS IMPARES HASTA:  17
3 ,

 NUMEROS IMPARES HASTA:  17
5 ,

 NUMEROS IMPARES HASTA:  17
7 ,

 NUMEROS IMPARES HASTA:  17
9 ,

 NUMEROS IMPARES HASTA:  17
11 ,

 NUMEROS IMPARES HASTA:  17
13 ,

 NUMEROS IMPARES HASTA:  17
15 ,

 NUMEROS IMPARES HASTA:  17
17 ,

5. Encuentra la suma de todos los números pares del 1 al 
100 ciclo fo

In [ ]:
for pares in range(0,101,2):
  #print("\n) ** NUMEROS PARES HASTA 100 **")
  print(pares)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100